/* some style */

/* body { */
/*     width: 100%; */
/* } */

/* fonts */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Helvetica Neue", sans-serif;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.manual {
    border: solid;
    padding: 2em;
}

.button-delete {
    color: white;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
    background: rgb(202,60,60);
}

textarea {
    max-width: 100%;
}

.output {
    font-family: monospace;
    font-size: 14px;
}

.controls {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: max-content;
}

.forest {
    display: flex;
    flex-direction: row;
    width: min-content;
}

.tree {
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
}

.subtree {
    /* margin-top: 1px; */
    margin-right: 2px;
    flex-grow: 1;
    flex-basis: auto;
}

.subtree:last-child {
    margin-right: 0;
}

.children {
    margin-bottom: 2px;
    width: 100%;
}

.node {
    /* position: absolute; */
    border-style: solid;
    border-width: thin;
    border-color: #555;
    text-align: center;
    min-width: 10px;
    padding: 0.5em 1em;
    
}

div.node {
    cursor: pointer;
    background-color: #ccc;
}

input.node {
    z-index: -1;
}

div.node.selected {
    background-color: #8e0;
}

div.node.tree-selected {
    background-color: #88e;
}
