{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        reagent {:mvn/version "0.10.0"}
        markdown-to-hiccup {:mvn/version "0.6.2"}
        instaparse {:mvn/version "1.4.10"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        com.bhauman/figwheel-main {:mvn/version "0.2.10"}} ;{:git/url "https://github.com/Engelberg/instaparse"
                    ; :sha "4d1903b059e77dc0049dfbc75af9dce995756148"}}
 :paths ["src" "resources"]
 :aliases {:fig   {:extra-paths ["target" "test"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "prod"]}
           :test  {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" tree-annotation.test-runner]}}}
